.container{
    width: 90%;
    max-width: 2024px;
    min-height: 100%;
    margin: auto;
    margin-bottom: 100px;
}
.container .Meu-Nome{
    width: 100%;
    min-height: 100px;
    margin-top: 5%;
    margin-bottom: 100px;

}
.container .Meu-Nome h1{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(14, 13, 13);
}
.container .Meu-Nome h2{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(14, 13, 13);
}
/* sobre mim*/
.container .sobre-info {
    width: 100%;
    min-height: 100px;
    margin-bottom: 100px;
}

.container .sobre-info .divisor {
    width: 100%;
    min-height: 2px;
    margin-bottom: 30px;
}
.divisor{
    
    background-image: linear-gradient(to right, #fa2c06, #0546ff,#8514f5);
}



.container .sobre-info .paragrafo {
font-family: 'Dodis',sans-serif;
font-style: normal;
text-align: justify;
font-size: 20px;
}

.container.links-info{
    width: 100%;
    min-height: 200px;
    margin-bottom: 100px;
}
.container .links-info .divisor{
    width: 100%;
    min-height: 2px;
    margin-bottom: 50px;
}

.container.links-info .divisor{
    
    margin-top: 5%; 
    font-weight: bold;
    text-transform: uppercase;
  
}
.container .links-info .contatos{
    width: 100%;
    min-height: 50px;
    margin-bottom: 100px;
    font-family: 'Dodis', sans-serif;
    font-style: normal;

    
}

